.Publication-main{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    color: white;
}
.publication-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.publication-content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.publication-card{
    /* border: 2px solid rebeccapurple; */
    padding: 90px;
    margin: 5px 10px 5px 10px;
    border: 2px solid snow;
    width: 600px;
    border: 1px solid white;
    width: 440px;
    cursor: pointer;
    transition: transform 0.7s;
    border-radius: 10px ;
}

.publication-heading p{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}