
.contpubview{
    margin-top: 100px;
    top: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    float: left;
}
.imgcontainer{
    width: 100%;                     ;
}

img{
    width: 100%;
    height: 300px;
}
.pubtitle h2{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.pubtitle{
    color: white;
    font-size: 55px;
    /* text-align: center; */
    font-family:Arial, Helvetica, sans-serif;

}
.pubtitle p{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #666;
}
.pubauthor-content h3{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.pubauthor {
    text-align: center;
    color: rgb(244, 241, 241);
    font-size: 55px;
    text-align: left;
    margin-top: 35px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;

}
.pubabstract{
    text-align: center;
    margin-top: 35px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;

}
.pubauthor-content h3{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.downpdf{
    padding-top: 50px;
}

