.PublicationAll-main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
}
.publicationAll-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.publicationAll-content{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
}
               

.publicationAll-card{
    /* border: 2px solid rebeccapurple; */
    padding: 90px;
    margin: 5px 1px 5px 10px;
    /* border: 2px solid snow; */
    width: 600px;
     /*border: 1px solid white;*/
    width: 440px;
    transition: transform 0.7s;
    border-radius: 10px ;
}

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.publicationAll-heading p{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
}
@media only screen and (min-device-width: 320px) and (max-width: 480px) {
    .pubbackarrow{
        position: relative;
        left: 100px;
    }
    .publicationAll-heading{
        margin-top: 100px;
    }
}

@media only screen and (max-device-width: 768px){
    .pubbackarrow{
        position: relative;
        left: 100px;
    }
    .publicationAll-heading{
        margin-top: 100px;
    }
}
@media only screen and (max-device-width: 1024px){
    .pubbackarrow{
        position: relative;
        left: 100px;
    }
    .publicationAll-heading{
        margin-top: 100px;
    }
    .publicationAll-card{
        width:fit-content;
        
    }
}
