
@import url("./Media_Home.css");
@import url("./Home_Buttons.css");

.Home-main{

    height: 100vh;
    margin-bottom: 0px;
}
.contenthm {
    padding-top: 150px;
    position: relative;
}

.card {
    padding-top: 50px;
}

.video-background {
    position: absolute  ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    float: right;
}

.video-background video {
    min-width: 100%;
    min-height: 100vh;
    float: right;
    width: 52%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}