.hero {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin-top: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.heading p {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
    font-weight: bolder;
    font-family: 'Bruno Ace SC', cursive;
}

.containerteam {
    bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.containerteam h1{
    font-size: x-large;
}

.containerabus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.img-responsive {
    width: 400px;
    height: 200px;
}

.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}

.hero-image {
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

.hero-content h2 {
    font-size: 38px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #333;
    font-family: "arial", sans-serif;
}

.hero-content p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: justify;
    /* color: #666; */
}

.hero-content h2 span {
    background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:768px) {
    .heading h1 {
        font-size: 45px;
        margin-top: 30px;
        color: #fff;
    }

    .hero {
        margin: 0px;

    }

    .containerabus {
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }

    .hero-content {
        width: 100%;
        margin: 35px 0px;
        /* text-align: justify; */
    }

    .hero-content h2 {
        font-size: 30px;
        /* text-align: justify; */
    }

    .hero-content p {
        font-size: 18px;
        margin-bottom: 20px;
        /* text-align: justify; */
    }

    .hero-content button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .hero-image {
        width: 100%;
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translatex(-50px);
        }

        100% {
            opacity: 1;
            transform: translatex(0px);
        }

    }
}

.team {
    margin: 75px 0;
}

#ourteam {
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;

}

/* #ourteam:after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 270px;
    margin: 10px auto;

} */

.profile {
    margin-top: 25px;
    width: 200px;
    height: 200px;
}

.profile .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile #next {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;

}

.profile #pos {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;

}
.our-team{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.our-team img{
    width: 100%;
    height: 300px;
}
.our-team .team-content{
    width: 100%;
    background: #3f2b4f;
    color: #fff;
    padding: 15px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
    padding-bottom: 40px;
}
.our-team .team-content:before,
.our-team .team-content:after{
    content: "";
    width: 60%;
    height: 38px;
    background: #3f2b4f;
    position: absolute;
    top: -18px;
    transform: rotate(15deg);
    z-index: -1;
}
.our-team .team-content:before{
    left: -3%;
}
.our-team .team-content:after{
    right: -3%;
    transform: rotate(-15deg);
}
.our-team .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px 0;
    position: relative;
}
.our-team .title:before,
.our-team .title:after{
    content: "";
    width: 7px;
    height: 93px;
    background: #ff5543;
    position: absolute;
    top: -78px;
    z-index: -2;
    transform: rotate(-74deg);
}
.our-team .title:before{
    left: 32%;
}
.our-team .title:after{
    right: 32%;
    transform: rotate(74deg);
}
.our-team .post{
    display: block;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.our-team .social-links{
    list-style: none;
    padding: 0 0 15px 0;
    margin: 0;
    position: absolute;
    bottom: -40px;
    right: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social-links{
    bottom: 0;
}
.our-team .social-links li{
    display: inline-block;
}
.our-team .social-links li a{
    display: block;
    font-size: 16px;
    color: #aad6e1;
    margin-right: 6px;
    transition: all 0.5s ease 0s;
}
.our-team .social-links li:last-child a{
    margin-right: 0;
}
.our-team .social-links li a:hover{
    color: #ff5543;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
    .our-team .team-content:before,
    .our-team .team-content:after{
        height: 50px;
        top: -24px;
    }
    .our-team .title:before,
    .our-team .title:after{
        top: -85px;
        height: 102px;
    }
    .our-team .title:before{
        left: 35%;
    }
    .our-team .title:after{
        right: 35%;
    }
}
@media only screen and (max-width: 767px){
    .our-team .team-content:before,
    .our-team .team-content:after{
        height: 75px;
    }
    .our-team .team-content:before{
        transform: rotate(8deg);
    }
    .our-team .team-content:after{
        transform: rotate(-8deg);
    }
    .our-team .title:before,
    .our-team .title:after{
        width: 10px;
        top: -78px;
        height: 102px;
    }
    .our-team .title:before{
        left: 42.5%;
        transform: rotate(-82deg);
    }
    .our-team .title:after{
        right: 42.5%;
        transform: rotate(82deg);
    }
}
@media only screen and (max-width: 480px){
    .our-team .title:before,
    .our-team .title:after{
        top: -83px;
    }
}