
.hero{
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}
.heading h1{
    color: white;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.containerteam{
    bottom: 20px;
}
.containerabus{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.img-responsive{
    width: 400px;
    height: 200px;
}
.hero-content{
   flex: 1;
   width: 600px;
   margin: 0px 25px;
   animation: fadeInUp 2s ease; 
}
.hero-image{
    flex: 1;
    width: 600px;
    margin:auto; 
    animation: fadeInRight 2s ease; 
 }
.hero-content h2{
    font-size: 38px;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #333;
    font-family: "arial",sans-serif;
}
.hero-content p{
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: justify;
    color: #666;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width:768px) {
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
        color: #fff;
    }
    .hero{
        margin: 0px;

    }
    .containerabus{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-content{
        width: 100%;
        margin: 35px 0px;
        /* text-align: justify; */
    }
    .hero-content h2{
        font-size: 30px;
        /* text-align: justify; */
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
        /* text-align: justify; */
    }
    .hero-content button{
      font-size: 16px;
      padding: 8px 16px;
    }
    .hero-image{
        width: 100%;
    }
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
} 
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translatex(-50px);
    }
    100%{
        opacity: 1;
        transform: translatex(0px);
    }
    
}   
} 
.team{
    margin: 75px 0;
}
#ourteam{
    text-align:center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;

}
#ourteam:after{
   content: '';
   background: #333;
   display: block;
   height: 3px;
   width: 270px;
   margin: 10px auto;
   
}
.profile{
    margin-top: 25px;
    width: 200px;
    height: 200px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile #next{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    
}
.profile #pos{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    
}
.img-box:after{
  content: '';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.img-box ul{
    margin: 0;
    /* padding: 20px 0; */
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 3px;
    padding: 7px;
    display: inline-block;

}
.img-box a{
    color: #fff;
}
.img-box:hover:after{
   opacity: 1;

}
.img-box:hover ul{
    opacity: 1;
}
.img-box a:hover li{
    color: #007bff;
    border: 1px solid #007bff;
}
.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
}

  