@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */


.nav-links .nav-box {
	display: flex;
}

.nav-box {
	transition: 0.15s ease-in-out;
	position: relative;
	text-align: center;
	display: inline-block;
}

.open-menu,
.close-menu {
	position: absolute;
	color: white;
	cursor: pointer;
	font-size: 1.5rem;
	display: none;
}

.open-menu {
	right: -10px;
	transform: translateY(-50%);
}

/* .close-menu {
    top: 5px;
    right: -10px;
} */
#check {
	display: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: black;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0 100px;
	border-bottom: 1px solid aqua;
}

nav .logo a img {
	border-radius: 30px;
}

nav .logo img {
	height: 50px;
}

nav ul {
	display: flex;
	list-style: none;

}

nav ul li a {
	font-family: "Bruno Ace SC", cursive;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 0 20px;
	position: relative;
	text-transform: capitalize;
}

nav ul li a::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before,
nav ul li a.active::before {
	transform: scaleX(1);
}

@media screen and (max-width: 1150px) {
	.header {
		padding: 0 50px;
	}

	.nav-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 60%;
		height: 100vh;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 100;
		background-color: black;
		transition: all 0.4s ease-in-out 0.1s;
	}

	.logo {
		padding-right: 60px;
	}

	.nav-links li {
		margin-top: 40px;
	}

	.nav-links li a {
		padding: 10px;
	}

	.open-menu,
	.close-menu {
		display: block;
		right: 20px;
		z-index: 999;
	}

	#check:checked~.nav-box {
		right: 0;
	}
}

/* Drop Down CSS for Admin and User*/
.dropdown1 {
	display: inline-block;
	position: relative;
}

.dropdown2 {
	display: inline-block;
	position: relative;
}

.dropdown-options1 {
	display: none;
	position: absolute;
	overflow: hidden;
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-options2 {
	display: none;
	position: absolute;
	overflow: hidden;
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown1:hover .dropdown-options1 {
	display: block;
}

.dropdown2:hover .dropdown-options2 {
	display: block;
}

.dropdown-options1 a {
	font-family: "Bruno Ace SC", cursive;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 15px 20px;
	position: relative;
	text-transform: capitalize;
}

.dropdown-options1 a::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
}
/* .dropdown-options1 a:hover::before,
.dropdown-options1 a.active::before {
	transform: scaleX(1);
} */

.dropdown-options2 a {
	font-family: "Bruno Ace SC", cursive;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	padding: 15px 20px;
	position: relative;
	text-transform: capitalize;
}

.dropdown-options2 a::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
}

/* .dropdown-options2 a:hover::before,
.dropdown-options2 a.active::before {
	transform: scaleX(1);
} */