.card-main{
    display: flex;
    flex-direction: column;
}

.card-image img{
    border-radius: 23px;
}

.card-title{
    margin-top: 10px;
}
.card-title p{
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 600;
}