@media screen and (max-width: 500px){

    .login-main{
        /* border: 2px solid red; */
    }
    .center{
        width: 71vw;
        padding: 0;
        margin: 0;
        
    }
    .center form{

        /* border: 2px solid rgb(17, 202, 91); */
        width: 60vw;

    }

    .center p{
        font-size: 1.5rem;
    }

    .pass:hover{
        text-decoration: underline;  
    }
}