.list-main {
    display: flex;
    flex-direction: column;
    /*border: 3px solid yellow;*/
    margin-top: 90px;
    width: 100%;
    margin-left: 50px;
}

.doctor-add-btn {
     /*border: 2px solid green;*/
    width: 100%;
    margin: 5px;
    text-align: center;
    align-items: end;
    border-radius: 12px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.back-Button-css{
    cursor: pointer;
}
.doctor-add-btn a {
    margin-right: 7%;
    text-decoration: none;
    color: white;
    background-color: rgb(173, 4, 4);
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    width: 15%;

}

.doctor-add-btn a:hover {
    background-color: rgb(173, 4, 4);
    color: antiquewhite;
    border: 1px solid white;
}

.account-card {
    /*border: 2px solid gold;*/
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    width: 100%;
     /*border: 2px solid white;*/
}


.doctor-list {
    margin: 40px 35px 5px 15px;
    flex-direction: row;
    align-items: center;
    opacity: 90%;
    width: 22vw;
    height: 58vh;
    border-radius: 25px;
    border: 2px solid white;
    background-color: transparent;
}


.doctor-list div {
    /* border: 1px solid red; */
}


.delete-list {
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 10px;
    /* border-bottom: 2px solid rgb(73, 70, 70); */
}

.delete-list section {
    cursor: pointer;
    color: red;
    display: flex;
    justify-content: end;
    align-items: flex-end;

}

.image-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-list img {
    /*border: 2px solid red;*/
    margin: 20px 3px 10px 3px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 17vw;
    height: 35vh;
}

.doctor-details {
    /* border-top: 2px solid rgb(73, 70, 70); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}

.doctor-details p {
    text-transform: capitalize;
    margin: 2px;
    color: white;
    font-weight: bolder;
}

.doctor-details p:nth-child(1) {
    font-weight: 600;
    font-size: 23px;
}

.doctor-details p:nth-child(2) {
    font-weight: 600;
    font-size: 14px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px

}
