.list-main {
   display: flex;
   flex-direction: column;
    /* border: 3px solid yellow; */
    margin-top: 90px;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@500&display=swap');
.doctor-add-btn {
   /* border: 2px solid green; */
   width: 100%;
    margin: 5px;
    text-align: center;
    align-items: end;
    border-radius: 12px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: 'Poppins', sans-serif;
    
    
    

}
.doctor-add-btn a {
    margin-right: 7%;
    text-decoration: none;
    color: white;
    border: 1px groove rgb(255, 255, 255);
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    border-radius:25px;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    width: 15%;
  
}

.doctor-add-btn a:hover{
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(159, 0, 0);
}

.account-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px solid white; */
    justify-content: center;
}
p{
    color: white;
}

.doctor-list {
    margin: 120px 10px 5px 15px;
    flex-direction: row;
    align-items: center;
    width: 15vw;
    height: 350px;
    border-radius: 25px;
    /* border: 2px solid rgb(73, 70, 70); */
    border: 2px solid red;
    background-color: white;
}


.doctor-list div {
    /* border: 1px solid red; */
}

.delete-list {
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 10px;
    /* border-bottom: 2px solid rgb(73, 70, 70); */
}

.delete-list img {
    height: 33px;
    width: 33px;
}

.image-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-list img {
    /* border: 2px solid red; */
    margin: 20px 3px 10px 3px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.doctor-details {
    /* border-top: 2px solid rgb(73, 70, 70); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}

.doctor-details {
    text-transform: capitalize;
    margin: 2px;
    color: black;
}

.doctor-details p:nth-child(1) {
    font-weight: 600;
    font-size: 23px;
}

.doctor-details p:nth-child(2) {
    font-weight: 600;
    font-size: 14px;
}


