@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import "mediaPendingReq.css";
.penreq{
    margin-top: 100px;
    width: fit-content;
}
.back{

    display: flex;
}
.card {
    width: 700px;
    /* margin: 100px auto; */
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
}

h2 {
    color: white;
    margin-top: 150px;
    font-family: "Bruno Ace SC", cursive;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;

}

th,
td {
    text-align: center;
}

td {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    background-color: #ccc;
}
i {
    cursor: pointer;
}
.doc-result-btn{
    cursor: pointer;
}

