.banner-details{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}