.alert-error{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:10px;
  background-color:darkred;
  color: white;
  text-transform: capitalize;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 13vh;
  width:40vw

}
