

.lbl {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }



.containerus{
    margin-top: 150px;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    height: 750px;

}
.containerus .titleus{
    font-size: 25px;
    font-weight: 900;
    position: relative;


}
.containerus .titleus::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    /* background:linear-gradient(135deg,#71b7e6,#9b59b6) ; */
    background:black;
}
.containerus form .user-detailsus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-detailsus .input-boxus{
    margin-bottom: 15px;
    width: calc(100% /2 - 20px);


}
.detailsus{
    display: block;
    font-weight: 900;
    margin-bottom: 5px;
}
.user-detailsus .input-boxus{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-detailsus .input-boxus input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius:5px ;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
    transition: all 0.3s ease;

}
textarea{
    border-radius: 5px;
    outline: none;
    border-bottom-width:2px;
    border-color: #000000;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 16px;
}
.user-detailsus .input-boxus input,textarea:focus,
.user-detailsus .input-boxus input,textarea:valid{
    border-color: #000000;

}
.image-uploadus {
    width: 200px;
    height: 200px;
    border: 10px solid #000000;
    margin-bottom: 10px;
  }
  
.imagepreviewus {
    width: 100%;
    height: 100%;
    border-color: #000000;
    border-radius: 5px;
  }
form .image{
    border-color: #000000; 
}
form .buttonus{
    height: 45px;
    margin: 45px 0;
    
}
form .buttonus input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    background:linear-gradient(135deg,#595555,#efe2f4) ; 
    /* background:black; */

}
form .buttonus input:hover{
    background:linear-gradient(135deg,#efe2f4,#595555) ; 

}
@media(max-width: 584px){
    .containerus{
        max-width: 100%;
    }
    form .user-detailsus .input-boxus{
        margin-bottom: 15px;
        width: 100%;
    
    
    }
    .containerus form .user-detailsus{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-detailsus::-webkit-scrollbar{
        width: 0;

    }
}

