.maindiv{
    width: 100%;
    overflow: hidden;
}
section{
    height: 100%;
    width: 100%;
    top: 0;
    /* margin-bottom: 20px; */
    position: relative;
  }

  section .first{
    padding-top: 70px;
    display: block;
    z-index: 100;
  }

  section .five{
    margin-bottom: 10px;
  }
