
.Hero{
    height: 100vh;
    width: 100vw;
    margin-top: 80px;
    background: transparent;
    position: static;
}

.Section1{
    padding-top: 800px;
    height: 100vh;
    width: 100vw;
    /* margin-top: 500px; */
    background: transparent;
    position: relative;
}

.Section2{
    padding-top: 500px;
    height: 100vh;
    width: 100vw;
    /* margin-top: 480px; */
    background: transparent;
    position: relative;
}

.Section3{
    padding-top: 500px;
    height: 100vh;
    width: 100vw;
    /* margin-top: 700px; */
    background: transparent;
    position: relative;
}

.Section4{
    padding-top: 500px;
    height: 100vh;
    width: 100vw;
    /* margin-top: 400px; */
    background: transparent;
    position: relative;
}
