.maindiv {
    width: 100%;
    overflow: hidden;
}

section {
    height: 100%;
    width: 100%;
    top: 0;
    /* margin-bottom: 20px; */
    position: relative;
}

.first {
    padding-top: 70px;
    display: block;
    z-index: 100;
}

.five {
    height: 90vh;
    margin-top: 0px;
}
@media only screen and (max-width: 500px) {
    .five {
        height: 60em !important;
    }
}
